{% extends 'base.html' %}
{% block title %}Search Home{% endblock %}

{% block content %}
    <div class="search">
        <form action="", method="POST">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Search by Last Name</legend>
                <div>
                    {{form.last_name.label}}
                    {{form.last_name}}
                </div>
                <div>
                  {{form.max_amount.label}}
                  {{form.max_amount}}
                  {{form.min_amount.label}}
                  {{form.min_amount}}
                  {{form.donation_type.label}}
                  {{form.donation_type}}
                  {{form.donor_sector.label}}
                  {{form.donor_sector}}
              </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>

 
{% endblock content %}